html, body {
  height:100%;
} 

svg {
  display:block;
  margin: 0 auto;
}

#wrapper {
  width:960px;
  margin: 0 auto;
}

#TotalVolatility {
  width:295px;
  height:300px;
  float: left;
  
}

#TotalVolatility h2 {
font-weight:bold;
color:#848484;
margin-top:20px;
margin-bottom:60px;
}

#TotalVolatility .rectBG
{
fill: #fff;
}

#TotalVolatility .rectFG
{
fill: #42BBE8;
}
#TotalVolatility .textValue
{
font-weight:bold;
font-size:40px;
fill: #42BBE8;
}
#TotalVolatility .textLabel
{
font-size:20px;
fill: white;
}


#CompaniesImpacted {
  width:320px;
  height:100px;
  float: left;
  margin-left:60px;

}

#CompaniesImpacted h3
{
color:#848484;
margin-top:34px;
margin-bottom:15px;
}

#CompaniesImpacted .rectBG
{
fill: #fff;
}

#CompaniesImpacted .rectFG
{
fill: #42BBE8;
}
#CompaniesImpacted .textValue
{
font-weight:bold;
fill: #42BBE8;
font-size:35px;
}
#CompaniesImpacted .textLabel
{
font-size:20px;
fill: white;
}

#BigGraph {
  width:640px;
  height:400px;
  float:right;
}

#AverageVolatility {
  width: 320px;
  height:100px;
  float: left;
  margin-left:50px;

}
#AverageVolatility h3
{
color:#848484;
margin-top:34px;
margin-bottom:15px;
}
#AverageVolatility svg {
  width: 100px;
  float: left;
}

#AverageVolatility .rectBG
{
fill: #fff;
}

#AverageVolatility .rectFG
{
fill: #42BBE8;
}
#AverageVolatility .textValue
{
font-weight:bold;
fill: #42BBE8;
font-size:35px;
}
#AverageVolatility .textLabel
{
font-size:20px;
fill: white;
}

/** Adding Css */

.row{
	margin:0;
	padding:10px 10px;
	margin-left:10px;
	background-color: rgb(76, 77, 79);
    color: rgb(255, 255, 255);
    height: 56px;
    width:100%;
	}
.styled-select select {
   background: transparent;
   width: 120px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.styled-select {
   width: 100px;
   height: 34px;
   overflow: hidden;
   background: url(../Icons/aero_icon.png) no-repeat right #4C4D4F;
   border: 0px solid #ccc;
  
   }



