html, body {
  height:100%;
} 

svg {
  display:block;
  margin: 0 auto;
}

#wrapper {
  width:960px;
  margin: 0 auto;
}

#TotalVolatility {
  width:295px;
  height:300px;
  float: left;
   
}

#page_1 #page-wrapper #id2-1 #TotalVolatility svg{
background-image:url('../images/symbol_1.png');
background-repeat:no-repeat;
background-position:right bottom;
}

#TotalVolatility h2 {
font-weight:bold;
color:#848484;
margin-top:20px;
margin-bottom:60px;
}

#TotalVolatility .rectBG
{
fill: #fff;
}

#TotalVolatility .rectFG
{
fill: #42BBE8;
}
#TotalVolatility .textValue
{
font-weight:bold;
font-size:40px;
fill: #42BBE8;
}
#TotalVolatility .textLabel
{
font-size:20px;
fill: white;
}


#CompaniesImpacted {
  width:320px;
  height:100px;
  float: left;
  margin-left:60px;

}

#CompaniesImpacted h3
{
color:#848484;
margin-top:34px;
margin-bottom:15px;
}

#CompaniesImpacted .rectBG
{
fill: #fff;
}

#CompaniesImpacted .rectFG
{
fill: #42BBE8;
}
#CompaniesImpacted .textValue
{
font-weight:bold;
fill: #42BBE8;
font-size:35px;
}
#CompaniesImpacted .textLabel
{
font-size:20px;
fill: white;
}

#BigGraph {
  width:640px;
  height:400px;
  float:right;
}

#AverageVolatility {
  width: 320px;
  height:100px;
  float: left;
  margin-left:50px;

}
#AverageVolatility h3
{
color:#848484;
margin-top:34px;
margin-bottom:15px;
}
#AverageVolatility svg {
  width: 100%;
  float: left;
}

#AverageVolatility .rectBG
{
fill: #fff;
}

#AverageVolatility .rectFG
{
fill: #42BBE8;
}
#AverageVolatility .textValue
{
font-weight:bold;
fill: #42BBE8;
font-size:35px;
}
#AverageVolatility .textLabel
{
font-size:20px;
fill: #42BBE8;
}

/** Adding Css */

.row{
	margin:0;
	padding:10px 10px;
	margin-left:10px;
	background-color: rgb(76, 77, 79);
    color: rgb(255, 255, 255);
    height: 56px;
    width:100%;
	}
.styled-select {
   width: 133px;
   height: 54px;
   overflow: hidden;
   background: url(../Icons/aero_icon.png) no-repeat right #4C4D4F;
   border: 0px solid #ccc;
   margin-left:7em;
   margin-top:-34px;
  
   }
.styled-select select {
   background: none repeat scroll 0% 0% transparent;
width: 154px;
padding: 5px;
font-size: 22px;
line-height: 1;
border: 0px none;
border-radius: 0px;
height: 34px;
font-weight: bold;
   }

.styled-select option{background:#4c4d4f;}

.styled-selects select {
   background: none repeat scroll 0% 0% transparent;
width: 154px;
padding: 5px;
font-size: 22px;
line-height: 1;
border: 0px none;
border-radius: 0px;
height: 34px;
font-weight: bold;
   
   }

.styled-selects {
   width: 133px;
   height: 54px;
   overflow: hidden;
   background: url(../Icons/aero_icon.png) no-repeat right #4C4D4F;
   border: 0px solid #ccc;
   margin-left:17em;
   margin-top:-54px;  
   }

#BigGraph
{
    border-top: 2px solid #848484;
    margin-right: 54px;
    margin-top: 124px;
}

